PORT=8000
MONGO_URI=mongodb://localhost:27017/zoniics_ai
REDIS_URL=redis://localhost:6380
NODE_ENV=development

# WhatsApp / Meta
WHATSAPP_VERIFY_TOKEN=your_custom_verify_token_here
WHATSAPP_ACCESS_TOKEN=your_meta_permanent_access_token_here
